<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>나만의 YOUTUBE 리스트</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/bootstrap.min.css" />
		<meta name="description" content="The Overflowing church website's main page" />
		<meta name="author" content="unikys@gmail.com" />
		  <style>
					#topMenu {
							height: 30px;
							width: 1700px;
					}
					#topMenu ul li {
							list-style: none;
							  color: white;
							background-color: #2d2d2d;
							float: left;
							line-height: 30px;
							vertical-align: middle;
							text-align: center;
					}
					#topMenu .menuLink {
							text-decoration:none;
							color: white;
							display: block;
							width: 150px;
							font-size: 12px;
							font-weight: bold;
							font-family: "Trebuchet MS";
					}
					#topMenu .menuLink:hover {
							color: red;
							background-color: #4d4d4d;
					}
		  </style>
	</head>
	<body>
			<nav id="topMenu" >
					<ul class="nav navbar-nav">
					  <a class="menuLink" href="https://www.youtube.com/" target = "_blank"><img src = "http://tech.kobeta.com/wp-content/uploads/2018/08/2-1.jpg" width = 150></a>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					  <li><a class="menuLink" href="/">로그아웃</a></li>
					</ul>
				  </nav>
		<h1>나만의 YOUTUBE 리스트</h1>
		<form class="form-inline">	<!-- 새로운 ToDo 항목 추가 -->
			<div class="form-group">
				<input type="text" class="form-control" id="new_todo" placeholder="유튜브명">
			</div>
			<div class ="form-group">
				<input type="number"class="form-control" id="count" placeholder ="갯수">
			</div>
			<button type="button" class="btn btn-primary">검색</button>
		</form>
		<table class="table">	<!-- ToDo 목록 -->
			<thead>
				<tr>
					<th>#</th>
					<th>제목</th>
					<th>다운로드</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</body>
	<script src="/jquery-3.1.0.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src="/javascripts/todo.js"></script>	<!-- ToDo 기능 구현 내용 -->
</html>